body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 30;
  height: 70px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0 1em;
  font-size: 28px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu {
  float: right;
  line-height: 50px;
  margin: 0 5em;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  padding: 0 20px;
}

.button {
  border-radius: 16px;
  background-color: #757980;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("babusr2.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("BG.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("snow.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}

.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.segments {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
